{% use 'form_div_layout.html.twig' %}

{% block form %}
    <form action="{{ path(action) }}"
          method="{{ method }}"
          class="uk-form-horizontal">
        {{- form_widget(form) -}}
    </form>
{% endblock %}

{% block form_row %}
    <div class="uk-margin uk-flex">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{% endblock %}

{% block form_label %}
    <label for="{{ id }}" class="uk-form-label uk-margin-right">{{ label }}</label>
{% endblock %}

{% block number_widget %}
    <input type="number"
           class="uk-input"
           id="{{ id }}"
           name="{{ full_name }}"
           style="width: 100%"
           min="0"
           value="{{ value }}">
{% endblock %}

{% block choice_widget_collapsed %}
    <select name="{{ full_name }}"
            class="uk-select"
            id="{{ id }}"
            style="width: 100%">
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {%- set render_preferred_choices = false -%}
        {{- block('choice_widget_options') -}}
    </select>
{% endblock %}

{% block textarea_widget %}
    <textarea name="{{ full_name }}"
              class="uk-textarea"
              id="{{ id }}"
              rows="3"
              style="width: 100%">{{ value }}</textarea>
{% endblock %}

{% block button_widget %}
    <button class="uk-button uk-button-primary">{{ label }}</button>
{% endblock %}