{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        th, td {
            border: 1px solid #e5e5e5;
        }

        th {
            font-size: 10px !important;
            vertical-align: middle !important;
            text-align: center !important;
        }

        .branch {
            background-color: honeydew;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="uk-section uk-section-muted uk-section-small"
         uk-height-viewport>
        <div class="uk-container uk-container-large">
            <div class="uk-card uk-card-default uk-card-body uk-card-small"
                 uk-height-viewport="offset-top: true; offset-bottom: 40px">
                <div class="uk-flex uk-flex-between">
                    <div>
                        <a href="{{ path('add_daily_report') }}"
                           class="uk-button uk-button-primary">Добавить</a>
                        {% if is_granted('ROLE_MORFLOT')  %}
                        <button class="uk-button uk-button-secondary" id="downloadJournal">
                            <span class="uk-margin-small-right"
                                  uk-icon="file"></span>
                            Скачать (EXCEL)
                        </button> 
			{% endif  %}
                    </div>

                    <div class="uk-display-inline-block uk-margin-left">
                        <form action=""
                              class="uk-flex">
                            <div class="uk-flex uk-flex-middle uk-margin-small-right">
                                <label class="uk-form-label uk-margin-small-right"
                                       for="form-stacked-text">Дата: </label>
                                <div class="uk-form-controls">
                                    <input class="uk-input datepicker"
                                           id="date"
                                           name="date"
                                           type="text"
                                           value="{{ date|date('d.m.Y') }}"
                                           aria-label="Дата">
                                </div>
                            </div>

                            <button class="uk-button uk-button-default">
                                <span uk-icon="icon: search"></span>
                                Искать
                            </button>
                        </form>
                    </div>
                </div>

                <table class="uk-table uk-table-divider uk-table-striped">
                    <thead>
                    <tr>
                      
                            <th rowspan="3" style="width: 20px;php"></th>
                      
                        {% if is_granted('ROLE_MORFLOT')  %}
        	                <th rowspan="3">Организация</th>
	                {% endif %}
                        <th rowspan="3">Дата</th>
                        <th colspan="10" class="uk-text-center">Количество работников</th>
                        <th rowspan="3">Примечание</th>
                        <th rowspan="3" style="width: 50px;"></th>
                    </tr>
                    <tr>
                        <th rowspan="2">Фактическая численность</th>
                        <th rowspan="2">На рабочем месте</th>
                        <th rowspan="2">В отпуске</th>
                        <th colspan="4">На дистанционной форме работы</th>
                        <th rowspan="2">На 2х недельном карантине</th>
                        <th rowspan="2">На больничном листе</th>
                        <th rowspan="2">Заболевших (COVID-19)</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if journal|length > 0 %}
                        {% for item in journal %}
                            <tr>
                                    <td>
	                                {% if item.organization.branches %}
        	                               <span uk-toggle="target: #branch_{{ item.id }}" uk-icon="triangle-down"></span>
	                                {% endif %}
                                    </td>
	                        {% if is_granted('ROLE_MORFLOT')  %}
	                                <td>
						{%  if item.organization is not null %}
							{{ item.organization.name }}
			        	        {% endif %}
					</td>
	        	        {% endif %}
                                <td>{{ item.date|date('d.m.Y') }}</td>
                                <td>{{ item.total }}</td>
                                <td>{{ item.atWork }}</td>
                                <td>{{ item.onHoliday }}</td>
                                <td>{{ item.remoteTotal }}</td>
                                <td>{{ item.remotePregnant }}</td>
                                <td>{{ item.remoteWithChildren }}</td>
                                <td>{{ item.remoteOver60 }}</td>
                                <td>{{ item.onTwoWeekQuarantine }}</td>
                                <td>{{ item.onSickLeave }}</td>
                                <td>{{ item.sickCOVID }}</td>
                                <td>{{ item.note }}</td>
                                <td>
                                    <ul class="uk-iconnav">
					{% if app.user.organization.id == item.organization.id  %}
                                        <li><a href="{{ path('edit_daily_report', {id: item.id}) }}"
                                               uk-icon="icon: file-edit"
                                               uk-tooltip="Редактировать"></a></li>
                                        <li><a href="{{ path('delete_daily_report', {id: item.id}) }}"
                                               class="delete_daily_report"
                                               uk-icon="icon: trash"
                                               uphpk-tooltip="Удалить"></a></li>
					{% endif  %}
                                    </ul>
                                </td>
                            </tr>

                            {% if item.organization.branches %}
                                {% set id = 'branch_' ~ item.id %}
                                {% set item = item.branches[0] %}
                                <tr class="branch" id="{{ id }}" hidden>
	                                <td></td>
	                	        {% if is_granted('ROLE_MORFLOT')  %}
	                                <td></td>
	        	       	        {% endif %}
                                    <td>{{ item.date|date('d.m.Y') }}</td>
                                    <td>{{ item.total }}</td>
                                    <td>{{ item.atWork }}</td>
                                    <td>{{ item.onHoliday }}</td>
                                    <td>{{ item.remoteTotal }}</td>
                                    <td>{{ item.remotePregnant }}</td>
                                    <td>{{ item.remoteWithChildren }}</td>
                                    <td>{{ item.remoteOver60 }}</td>
                                    <td>{{ item.onTwoWeekQuarantine }}</td>
                                    <td>{{ item.onSickLeave }}</td>
                                    <td>{{ item.sickCOVID }}</td>
                                    <td>{{ item.note }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>            
                            <td colspan="14" class="uk-text-center">Нет ни одной записи</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.datepicker').datepicker({
                firstDay: 1,
                dateFormat: 'dd.mm.yy',
                dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                dayNamesShort: ['Вос', 'Пон', 'Вто', 'Сре', 'Чет', 'Пят', 'Суб'],
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                nextText: 'Вперед',
                prevText: 'Назад',
                showAnim: 'slideDown',
                showOtherMonths: true,
                weekHeader: 'Нед',
                changeMonth: true,
                changeYear: true
            });

            $(document).on('click', '.delete_daily_report', function (e) {
                if (!confirm('Удалить запись?')) {
                    e.preventDefault();
                }
            })

            $('#downloadJournal').on('click', function (e) {
                e.preventDefault();

                var date = $('#date').val();

                window.location = '/download?date=' + date;
            })
        })
    </script>
{% endblock %}
