{% extends 'base.html.twig' %}

{% block title %}Hello AddDailyReportController!{% endblock %}

{% block body %}
    <div class="uk-section uk-section-muted uk-flex uk-flex-middle" uk-height-viewport>
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-card uk-card-default uk-card-body">
                    <div class="uk-margin-bottom">
                        <a href="{{ path('homepage', query) }}" class="uk-button uk-button-primary">
                            <span class="uk-margin-small-right" uk-icon="arrow-left"></span> Назад
                        </a>
                    </div>
                    {% if error is defined and error != '' %}
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ error }}</p>
                        </div>
                    {% endif %}
                    {% set formName = 'journalForm' %}
                    <form method="post"
                          class="uk-form-horizontal"
                          name="{{ formName }}">
                        <div class="uk-flex">
                            {% if organization.branches %}
                                <ul class="uk-tab-left" uk-tab="index: 0">
                                    <li><a href="#">Основная форма</a></li>
                                    <li><a href="#">Филиалы</a></li>
                                </ul>
                            {% endif %}

                            {% if organization.branches %}
                            <ul class="uk-switcher uk-flex-1">
                                <li>
                                    {% endif %}
                                    <div id="journalForm"
                                         class="uk-padding uk-padding-remove-vertical"
                                         style="width: 100%; box-sizing: border-box;">

                                        <div class="uk-flex">
                                            <label class="uk-form-label uk-margin-right">Организация</label>
                                            <input type="text"
                                                   disabled
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ organization.name }}"
                                                   aria-label="Название организации">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_date' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Дата</label>
                                            <input type="text"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input datepicker"
                                                   style="width: 100%"
                                                   value="{{ report.date|date('d.m.Y') }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_atWork' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">На рабочем месте</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.atWork }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_onHoliday' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">В отпуске</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.onHoliday }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_remoteTotal' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Общее количество работников на дистанционной форме работы</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.remoteTotal }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_onTwoWeekQuarantine' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">На 2х недельном
                                                карантине</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.onTwoWeekQuarantine }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_onSickLeave' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">На больничном</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.onSickLeave }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_sickCOVID' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Болеющих (COVID-19) по состоянию на {{ report.date|date('d.m.Y') }}</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.sickCOVID }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_ShiftRest' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Выходной/межвахтовый отдых</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.ShiftRest }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_Die' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Скончалось от COVID-19 (нарастающим итогом)</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.Die }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_note' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Примечание (информация о заболевших COVID-19 с указанием ФИО, должности, состояния здоровья / информация о заболевших COVID-19 обучающихся образовательных организаций с указанием ФИО, курса, состояния здоровья / информация о скончавшихся от COVID-19 ФИО, должность, дата смерти)</label>
                                            <textarea id="{{ name }}"
                                                      name="{{ name }}"
                                                      class="uk-textarea"
                                                      rows="3"
                                                      style="width: 100%">{{ report.note }}</textarea>
                                        </div>
                                    </div>
                                    {% if organization.branches %}
                                </li>
                                <li>
                                    <div id="journalBranchesForm"
                                         class="uk-padding uk-padding-remove-vertical">
                                        {% set formName = 'journalBranchesForm' %}
                                        <div class="uk-margin uk-flex">
                                            <label class="uk-form-label uk-margin-right">Организация</label>
                                            <input type="text"
                                                   disabled
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="Филиалы {{ organization.name }}"
                                                   aria-label="Название организации">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_atWork' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">На рабочем месте</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].atWork }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_onHoliday' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">В отпуске</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].onHoliday }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_remoteTotal' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Общее количество работников на дистанционной форме работы</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].remoteTotal }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_onTwoWeekQuarantine' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">На 2х недельном
                                                карантине</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].onTwoWeekQuarantine }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_onSickLeave' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">На больничном</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].onSickLeave }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_sickCOVID' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Болеющих (COVID-19)</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].sickCOVID }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_ShiftRest' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Выходной/межвахтовый отдых</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].ShiftRest }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_Die' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Скончалось от COVID-19 (нарастающим итогом)</label>
                                            <input type="number"
                                                   min="0"
                                                   id="{{ name }}"
                                                   name="{{ name }}"
                                                   class="uk-input"
                                                   style="width: 100%"
                                                   value="{{ report.branches[0].Die }}">
                                        </div>

                                        <div class="uk-margin uk-flex">
                                            {% set name = formName ~ '_note' %}
                                            <label for="{{ name }}"
                                                   class="uk-form-label uk-margin-right">Примечание (информация о заболевших COVID-19 с указанием ФИО, должности, состояния здоровья / информация о заболевших COVID-19 обучающихся образовательных организаций с указанием ФИО, курса, состояния здоровья / информация о скончавшихся от COVID-19 ФИО, должность, дата смерти)</label>
                                            <textarea id="{{ name }}"
                                                      name="{{ name }}"
                                                      class="uk-textarea"
                                                      rows="3"
                                                      style="width: 100%">{{ report.branches[0].note }}</textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {% endif %}
                        </div>

                        <button class="uk-button uk-button-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/daily_report.js', 'custom') }}"></script>
{% endblock %}
